<div class="bg-warning-subtle border border-black column-gap-3 d-flex justify-content-evenly my-3 p-3 rounded-3">
  <div class="fs-4">
    <%= link_to recipe.name, recipe_path(recipe.id) %>
   <spam class="fw-bold"> <%= recipe.name %></spam> <br> By: <%= recipe.user.name %>
  </div>
  <div>
    <ul>
      <% total_price = 0 %>
      <% food_count = recipe.foods.count %>
      <% recipe.foods.each do |food| %>
        <p><% food.price %></p>
        <% total_price += food.price %>
      <% end %>
    </ul>
    <span>Total Food Items: <%= food_count %></span> <br>
    <span>Total Price: <%= total_price %></span>
  </div>
</div>
