<%= render partial: 'devise/shared/navbar' %>

<section class="container text-center p-3">
  <h2 class="p-3">Create new recipe</h2>
  <div class="fs-5">
    <%= form_with(model:[@recipe, @new_recipe], class: 'container') do |form| %>
      <div class=" form-div d-flex flex-column flex-wrap column-gap-3 row-gap-3 text-start justify-content-center">
        <div class="d-flex flex-column align-items-center row-sm-2">
          <%= form.label :name, "Recipe's name:", class: 'col-sm-7 col-md-7 col-lg-7 col-form-label' %>
          <%= form.text_field :name, :required => true, class: 'col-sm-7 col-md-7 col-lg-7 form-control-lg rounded-3' %>
        </div>

        <div class="d-flex flex-column align-items-center row-sm-2">
          <%= form.label :preparation_time, "Preparation time(hrs):", class: 'col-sm-7 col-md-7 col-lg-7 col-form-label' %>
          <%= form.number_field :preparation_time, :required => true, class: 'col-sm-7 col-md-7 col-lg-7 form-control-lg rounded-3' %>
        </div>

        <div class="d-flex flex-column align-items-center row-sm-2">
          <%= form.label :cooking_time, "Cooking time(hrs):", class: 'col-sm-7 col-md-7 col-lg-7 col-form-label' %>
          <%= form.number_field :cooking_time, :required => true, class: 'col-sm-7 col-md-7 col-lg-7 form-control-lg rounded-3' %>
        </div>

        <div class="d-flex flex-column align-items-center row-sm-2">
          <%= form.label :description, "Description:", class: 'col-sm-7 col-md-7 col-lg-7 col-form-label' %>
          <%= form.text_area :description, :required => true, class: 'col-sm-7 col-md-7 col-lg-7 form-control-lg rounded-3' %>
          <%= form.hidden_field :public, value: false %>
        </div>
        
        <div class="d-flex column-gap-3 justify-content-center">
          <%= form.submit "Create", class: 'btn btn-success fs-5' %>
          <%= link_to 'Cancel', recipes_path, class: 'btn btn-danger fs-5' %>
        </div>
      </div>
    <% end %>
  </end>
</section>