<%= render 'devise/shared/navbar' %>

<div class="container mt-5">
  <h1 class="text-center">Food List</h1>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <table class="border table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td>$ <%= food.price %></td>
          <td><%= food.quantity %></td>
          <td>
              <%= button_to "Delete", food, method: :delete, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Add New Food", new_food_path, class: "btn btn-primary mt-3 w-100" %>
</div>
