<%= form_with(model:[recipe_food], class: 'container' ) do |form| %>
  <div class="form-div d-flex flex-wrap column-gap-3 row-gap-3">
    <%= form.hidden_field :recipe_id, value: recipe.id %>
    <%= form.collection_select :food_id, foods, :id, :name, class: 'select' %>
    <div class="d-flex flex-wrap column-gap-3">
      <%= form.label :quantity, "Necessary quantity:", class: 'col-form-label' %>
      <%= form.text_field :quantity, :required => true, class: 'form-control-lg', type: 'number', step: '0.1', min: 1, value: 1 %>
    </div>
    <div class="d-flex column-gap-3">
      <%= form.submit "Add", class: 'btn btn-success btn-lg' %>
      <%= link_to 'Cancel', recipe_path(recipe.id), class: 'btn btn-danger btn-lg' %>
    </div>
  </div>
<% end %>